# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/
*.apk
*.aab

# Android
android/app/build/
android/.gradle/
android/local.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env.local
